.login {
  display: grid;
  width: 300px;

  background-color: lightgray;
  margin: 20vh auto;
}

.login svg {
  fill: #0077b5;
  height: 20px;
  width: 80px;
  margin: 20px auto;
}

.field {
  position: relative;
  padding: 30px 0;
  cursor: pointer;
  padding-bottom: 0px;
}

.field label {
  position: absolute;
  left: 10px;
  top: 40px;
  transition: 0.3s all ease;
  font-size: 14px;
  width: 100%;
  color: #888888;
}

.field input {
  font-size: 15px;
  padding: 10px;
}

input:focus + label {
  top: 10px;
  font-size: 11px;
  color: #0077b5;
}

input:valid + label {
  top: 10px;
  font-size: 11px;
  color: #0077b5;
}

.login_form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginbtn {
  align-self: stretch;
  margin-top: 20px;
  padding: 10px 0px;
  background-color: #0077b5;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
}

.register {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.register_button {
  color: #0077b5;
  cursor: pointer;
  padding: 10px 0;
}

.register_button:hover {
  color: #0077b5;
  cursor: pointer;
  text-decoration: underline #0077b5;
}

.demoLogin {
  position: absolute;
  bottom: 0;
  color: #fff;
  padding: 10px;
  background-color: #0077b5;
  border-radius: 10px;
  cursor: pointer;
}

.demoLogin:hover {
  background-color: #006094;
}

.loginbtn:hover {
  background-color: #006094;
}
