.listItem {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 10px;

  font-size: 14px;
}

.listItem p {
  color: rgb(121, 121, 121);
  font-weight: 600;
}

.icon {
  width: 20px;
  color: rgb(121, 121, 121);
}
