.listItem {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 10px;

  font-size: 14px;
  transition: all 0.3s;
}

.listItem p {
  color: rgb(121, 121, 121);
  font-weight: 600;
}

.icon {
  width: 20px;
  color: rgb(121, 121, 121);
}

.listItem:hover {
  background-color: rgb(230, 230, 230);
  cursor: pointer;
}
