.sidebar_container {
  display: flex;
  flex-direction: column;
}

.sidebar {
  background-color: white;
  margin: 10px;
  margin-left: 80px;
  flex: 0.2;
  border-radius: 10px;
}

.sidebar__top {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: solid 1px lightgray;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: hidden;
  padding-bottom: 20px;
}

.sidebar__top > img {
  margin-bottom: -20px;
  width: 100%;
  height: 90px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: cover;
}

.sidebarAvatar {
  margin-bottom: 10px;
}

.sidebar__stats {
  padding: 10px;
  border: solid 1px lightgray;
  border-top: none;
}
.sidebar__stat {
  display: flex;
  justify-content: space-between;
  transition: all 0.3s;
}
.statName {
  color: gray;
}
.statNumber {
  color: #378fe9;
  font-weight: bold;
}

/* Bottom section */
.sidebar__premium {
  padding: 10px;
  border: solid 1px lightgray;
  border-top: none;
  border-bottom: solid 1px lightgray;
  transition: all 0.3s;
}
.sidebar__premiumInfo {
  color: rgb(148, 148, 148);
}

.activatePremium {
  cursor: pointer;
  display: flex;
}
.activatePremium:hover {
  color: #378fe9;
  text-decoration: underline;
}

.myItems {
  padding: 20px 0;

  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: solid 1px lightgray;
  border-top: none;
}
.myItem {
  padding: 0 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.sidebar_recent {
  border-radius: 10px;
  background-color: white;
  margin: 10px;
  margin-left: 80px;
  flex: 0.2;
  border: solid 1px lightgray;
  position: sticky;
  top: 80px;
}

.recentTitle {
  padding: 10px;
}

.groupsTitle {
  color: #378fe9;
  padding: 10px;
  font-weight: 600;
}

.sidebar_events {
  padding: 10px;
}

.event {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.eventTitle {
  color: #378fe9;
  font-weight: 600;
}

.sidebar_discover {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid lightgray;
}

.sidebar_discover p {
  padding: 20px 0;
  font-weight: 600;
  color: rgb(126, 126, 126);
}

/* Hover */
/* background-color: rgb(230, 230, 230); */

.sidebar__premium:hover {
  background-color: rgb(230, 230, 230);
  cursor: pointer;
}

.sidebar__stat:hover {
  background-color: rgb(230, 230, 230);
  cursor: pointer;
}

.myItems:hover {
  background-color: rgb(230, 230, 230);
  cursor: pointer;
}

.sidebar_discover:hover {
  background-color: rgb(230, 230, 230);
  cursor: pointer;
}
