.postModal {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.225);
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 9999;
}
.modalWindow {
  position: fixed;
  width: 600px;
  height: 400px;
  background-color: white;
  left: 50%;
  transform: translateX(-50%);
  top: 15%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  z-index: 999999;
}
.modalHeader {
  padding: 15px;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
}

.modalHeader h2 {
  font-weight: 400;
}

.user_details {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 15px;
}

.visibilityBadge {
  display: flex;
  padding: 5px 10px;
  border-radius: 100px;
  border: 1px solid lightgray;

  align-items: center;
  cursor: pointer;
}

.visibilityBadge:hover {
  background-color: rgb(227, 227, 227);
  box-shadow: inset 0 0 2px 0px #000;
}

.visibilityBadge p {
  font-size: 14px;
}

.icon {
  width: 18px;
  height: 18px;
}
.textAreaContainer {
  flex: 2;
}
.textAreaContainer textarea {
  width: 100%;
  outline: none;
  border: none;
  padding: 15px 20px;
  font-size: 20px;
  resize: none;
}
.sendActions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}

.inputOptions {
  display: flex;
  align-items: center;
}
.separator {
  border-left: 1px solid lightgray;
  height: 25px;
}

.sendIcon {
  width: 30px;
  height: 30px;

  color: rgb(153, 153, 153);
}

.postTo {
  display: flex;
  padding: 8px;
  align-items: center;
  gap: 5px;
  color: rgb(124, 124, 124);
  border-radius: 50px;
  cursor: pointer;
}
.postToIcon {
  width: 20px;
  height: 20px;
  color: rgb(124, 124, 124);
}

.postTo:hover {
  background-color: rgb(238, 238, 238);
}

.postButton {
  padding: 10px 20px;
  color: rgb(109, 109, 109);
  background-color: rgb(227, 227, 227);
  border-radius: 50px;
  cursor: not-allowed;
}

.send.active .postButton {
  background-color: #0077b5;
  color: white;
  cursor: pointer;
}
