.header-right--nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.3s;
  justify-items: center;
}

.nav_icon {
  font-size: 30px;
  color: rgb(195, 193, 193);
  justify-self: center;
  align-self: center;
}

.header-right--nav label {
  font-size: 14px;
  color: rgb(195, 193, 193);
}

.header-right--nav:hover .nav_icon {
  color: black;
  cursor: pointer;
}

.header-right--nav:hover label {
  color: black;
  cursor: pointer;
}
