.header-right--nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.3s;
  justify-items: center;
}

.nav_icon {
  font-size: 30px;
  color: rgb(156, 156, 156);
  justify-self: center;
  align-self: center;
}

hr {
  color: transparent;
  /* display: none; */
  height: 0px;
  background-color: transparent;
  width: 0%;
  justify-self: center;
  text-align: center;
  position: absolute;
}

hr.active {
  transition: all 0.3s;
  color: black;
  /* display: none; */
  height: 3px;
  background-color: black;
  width: 140%;
  justify-self: center;
  text-align: center;
  position: absolute;
  bottom: -16px;
}
.nav_icon.active {
  color: black;
}

.header-right--nav label {
  font-size: 14px;
  color: rgb(156, 156, 156);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.header-right--nav label.active {
  color: #000;
}

.header-right--nav:hover .nav_icon {
  color: black;
  cursor: pointer;
}

.header-right--nav:hover label {
  color: black;
  cursor: pointer;
}
