.header {
  display: flex;
  padding: 10px 90px;
  justify-content: space-between;
  align-items: center;
}

.header-left {
  display: flex;
}

.header-left--icon svg {
  width: 34px;
  height: 34px;
}

.header-left input {
  border: none;
  background-color: aliceblue;
  transition: all 0.5s;
  padding: 5px;
}

.header-left input:focus {
  border: none;
  transition: all 0.5s;
  width: 350px;
}
.header-right {
  display: flex;
  gap: 10px;
}

.header-right--nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.3s;
}

.nav_icon {
  font-size: 30px;
  color: rgb(195, 193, 193);
}

.header-right--nav label {
  font-size: 14px;
  color: rgb(195, 193, 193);
}

.header-right--nav:hover .nav_icon,
.header-right--nav label:hover {
  color: black;
  cursor: pointer;
}
