.header {
  display: flex;
  padding: 10px 90px;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 9999;
}

.header-left {
  display: flex;
  gap: 15px;
}

.header-left--icon svg {
  width: 46px;
  height: 46px;
}

.header-search {
  position: absolute;
  left: 165px;
  top: 25px;
  z-index: 999;
}

.header-left input {
  border: none;
  background-color: aliceblue;
  transition: all 0.5s;
  padding: 10px;
  width: 250px;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  padding-left: 40px;
  position: relative;
  font-size: 16px;
}

.header-left input:focus {
  border: none;
  transition: all 0.5s;
  width: 350px;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
}
.header-right {
  display: flex;
  gap: 20px;
}

.header-right--nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.3s;
  justify-items: center;
}

.nav_icon {
  font-size: 30px;
  color: rgb(195, 193, 193);
  justify-self: center;
  align-self: center;
  height: 24px;
  width: 24px;
}

.account_icon {
  color: rgb(231, 231, 231);
  justify-self: center;
  align-self: center;
  height: 24px !important;
  width: 24px !important;
  cursor: pointer;
}

.header-right--nav label {
  font-size: 14px;
  color: rgb(195, 193, 193);
}

.nav-labelDropdown {
  display: flex;
  align-items: center;
}

.header-right--nav:hover .nav_icon {
  color: black;
  cursor: pointer;
}

.header-right--nav:hover label {
  color: black;
  cursor: pointer;
}
.vl {
  border-left: 2px solid lightgray;
}
