.newsRow {
  display: flex;
  padding-left: 15px;
  cursor: pointer;
  transition: all 0.3s;
}
.newsRow:hover {
  background-color: rgb(238, 238, 238);
}

.newsRow_headline {
  color: #000000b8;
  font-weight: 600;
}

.newsRow_postDate {
  color: rgb(128, 128, 128);
  font-weight: 300;
  font-size: 14px;
  font-weight: 400;
}
